#my-navbar{
    background-color: #D5B9B2 !important;
}

.navbar-brand img{
    height: 35px;
    width: auto;
}

#my-navbar-list a{
    color: white;
}

#my-navbar-list a:hover{
    color: #585563;
}


/* small screen */
@media (max-width: 767px){
    body{
        font-size: 12px;
        color: #808080;
    }

    #categories-container{
        display: flex;
        flex-direction: column;
        margin: 50px 10% 0px 10%;
    }

    #categories-header{
        font-size: 20px;
        color: #D5B9B2;
        font-family: "Lemon";
        width: 100%;
        text-align: center;
    }

    #categories-description{
        width: 100%;
        text-align: center;
    }

    #categories-display-container{
        display: flex;
        flex-direction: column;
        margin: 5% 0%;
        justify-content: center;
    }

    .categories-card{
        padding-bottom: 15px;
    }

    .card{
        border: 1px solid #D5B9B2;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }

    .card-body{
        text-align: center;
        color: #D5B9B2;
    }

    /* Newsletter */
    #newletter-container{
        max-width: 100%;
        margin: 30px 10% 0px 10%;
        height: 550px;
    }

    #newletter-pic{
        display: flex;
        background-image: url(images/newsletter-pic.png);
        background-size: cover;
        background-position: 50% 50%;
        height: 275px;
        border-radius: 50% 0% 0% 0%;
        flex-grow: 1;
    }

    #newsletter-content{
        padding: 0px 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        background-color: #F8F7F2;
        border-radius: 0% 0% 50% 0%;
        height: 275px;
        flex-grow: 1;
    }

    #newsletter-content1{
        font-size: 20px;
        color: #D5B9B2;
        font-family: "Lemon";
        text-align: center;
    }

    #newsletter-content2{
        text-align: justify;
    }

    #newsletter-content3 button{
        color: white;
        background-color: #D5B9B2;
        border: 1px solid #D5B9B2;
        border-radius: 10px;
        flex-basis: 100px;
    }

    #newsletter-content3 button:hover{
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    #button-submit{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    #newsletter-content3 input{
        border: 2px solid #D5B9B2;
        border-radius: 25px;
        width: 100%;
        height: 30px;
        padding-left: 20px;
        background-color: #F8F7F2;
    }

    #newsletter-content3 input:hover{
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    #newsletter-content3 input::placeholder{
        color: #D5B9B2;
    }

    /* footer */
    #footer-content{
        display: flex;
        flex-direction: column;
        background-color: #D5B9B2;
        margin-top: 65px;
        color: white;
    }

    #footer-image img{
        width: 125px;
        height: auto;
        flex-shrink: 0;
    }

    #footer-image{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-bottom: 25px;
    }

    #footer-container{
        padding: 0px 40px 35px 60px;
    }

    .footer-head{
        font-weight: bold;
        font-family: "Lemon";
        font-size: 12px;
    }

    .footer-details-list a{
        color: white;
        text-decoration: none;
    }

    .footer-details{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        margin-top: 2%;
        gap: 10px;
    }


    /* about us */
    #about-us-container{
        margin: 5% 10% 0px 10%;
    }

    .about-header {
        font-family: "Lemon";
        font-weight: bold;
        font-size: 20px;
        margin: 30px 0px 15px 0px;
        color: #D5B9B2;
    }
    
    #vision-header {
        margin-top: 40px;
    }

    #about-team {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    #about-team img {
        background-image: url(images/team.png);
        background-size: cover;
        background-position: 50% 100%;
        width: 100%;
    }
    
    #about-writeup p {
        padding-top: 8px;
        margin-bottom: 8px;
        text-align: justify;
    }
    
    #about-writeup h1 {
        font-size: 25px;
        color: #5f685d;
    }
    
    .mission-container {
        gap: 10px;
        box-sizing: border-box;
    }
    
    .mission-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(188,188,167, 0.5);
        height: 100px;
        margin-left: 2.5%;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }
    
    .mission-box:hover {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }
    
    .vision {
        font-size: 16px;
        font-weight: bold;
        color: #5f685d;
    }
    
    .about-banner {
        font-family: "Lemon";
        font-size: 20px;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .about-banner a{
        text-decoration: none;
        color: white;
    }
    
    .catalogue-banner {
        background-image: url(images/team-banner.png);
        background-size: cover;
        width: 100%;
        height: 100px;
        align-items: center;
        margin-top: 80px;
    }
    
    .locations-banner {
        background-image: url(images/catalogue-banner.png);
        background-size: cover;
        width: 100%;
        height: 100px;
        align-items: center;
    }

    /* locations */
    #locations-container{
        margin: 50px 10% 0px 10%;
    }

    #locations-header{
        font-family: "Lemon";
        font-size: 20px;
        color: #D5B9B2;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    #locations-cta{
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .locations-content{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .location-card{
        margin-bottom: 40px;
    }

    .location-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .location-image img{
        width: 50%;
        height: auto;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        border-radius: 0px 30px 0px 30px;
    }

    .location-place{
        color: #5f685d;
        font-weight: bold;
        font-size: 20px;
    }

    .location-concise{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .location-address{
        text-align: center;
    }
}









/* medium screen */
@media (min-width: 768px) and (max-width: 991px){
    body{
        font-size: 14px;
        color: #808080;
    }

    #categories-container{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    #categories-header{
        font-size: 23px;
        color: #D5B9B2;
        font-family: "Lemon";
        width: 100%;
        text-align: center;
    }

    #categories-description{
        width: 100%;
        text-align: center;
    }

    #categories-display-container{
        display: flex;
        margin: 25px 80px;
        justify-content: center;
    }

    #categories-row{
        display: flex;
        justify-content: center;
    }

    .categories-card{
        padding-bottom: 15px;
        width: 30%;
    }

    .card{
        border: 1px solid #D5B9B2;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }

    .card-body{
        text-align: center;
        color: #D5B9B2;
    }

    /* Newsletter */
    #newletter-container{
        max-width: 100%;
        display: flex;
        margin: 60px 80px 0px 80px;
        height: 400px;
    }

    #newletter-pic{
        background-image: url(images/newsletter-pic.png);
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
        border-radius: 50% 0% 0% 0%;
        flex-grow: 1;
    }

    #newsletter-content{
        padding: 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        background-color: #F8F7F2;
        border-radius: 0% 0% 50% 0%;
        flex-grow: 1;
    }

    #newsletter-content1{
        font-size: 25px;
        color: #D5B9B2;
        font-family: "Lemon";
        text-align: center;
    }

    #newsletter-content2{
        text-align: justify;
    }

    #newsletter-content3 button{
        color: white;
        background-color: #D5B9B2;
        border: 1px solid #D5B9B2;
        border-radius: 10px;
        flex-basis: 100px;
    }

    #newsletter-content3 button:hover{
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    #button-submit{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    #newsletter-content3 input{
        border: 2px solid #D5B9B2;
        border-radius: 25px;
        width: 100%;
        height: 40px;
        padding-left: 20px;
        background-color: #F8F7F2;
    }

    #newsletter-content3 input:hover{
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    #newsletter-content3 input::placeholder{
        color: #D5B9B2;
    }

    /* footer */
    #footer-content{
        display: flex;
        flex-direction: column;
        background-color: #D5B9B2;
        margin-top: 100px;
        color: white;
    }

    #footer-image img{
        width: 125px;
        height: auto;
        flex-shrink: 0;
    }

    #footer-image{
        display: flex;
        justify-content: center;
        padding-top: 35px;
        margin-bottom: 27px;
    }

    #footer-container{
        padding: 0px 60px 35px 60px;
    }

    .footer-head{
        font-weight: bold;
        font-family: "Lemon";
        font-size: 14px;
    }

    .footer-details-list a{
        color: white;
        text-decoration: none;
    }

    .footer-details{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        margin-top: 2%;
        gap: 10px;
    }

    /* about us */
    #about-us-container{
        margin: 50px 80px 0px 80px;
    }

    .about-header {
        font-family: "Lemon";
        font-weight: bold;
        font-size: 23px;
        margin: 30px 0px 15px 0px;
        color: #D5B9B2;
    }
    
    #vision-header {
        margin-top: 50px;
    }

    #about-team {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    #about-team img {
        background-image: url(images/team.png);
        background-size: cover;
        background-position: 50% 100%;
        width: 100%;
    }
    
    #about-writeup p {
        padding-top: 8px;
        margin-bottom: 8px;
        text-align: justify;
    }
    
    #about-writeup h1 {
        font-size: 25px;
        color: #5f685d;
    }
    
    .mission-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        box-sizing: border-box;
    }
    
    .mission-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(188,188,167, 0.5);
        height: 200px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }
    
    .mission-box:hover {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }
    
    .vision {
        font-size: 18px;
        font-weight: bold;
        color: #5f685d;
    }
    
    .about-banner {
        font-family: "Lemon";
        font-size: 23px;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .about-banner a{
        text-decoration: none;
        color: white;
    }
    
    .catalogue-banner {
        background-image: url(images/team-banner.png);
        background-size: cover;
        width: 100%;
        height: 130px;
        align-items: center;
        margin-top: 90px;
    }
    
    .locations-banner {
        background-image: url(images/catalogue-banner.png);
        background-size: cover;
        width: 100%;
        height: 130px;
        align-items: center;
    }

    /* locations */
    #locations-container{
        margin: 60px 80px 0px 80px;
    }

    #locations-header{
        font-family: "Lemon";
        font-size: 23px;
        color: #D5B9B2;
        display: flex;
        justify-content: center;
        margin-bottom: 7px;
    }

    #locations-cta{
        font-size: 16px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .locations-content{
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .location-card{
        margin-bottom: 60px;
    }

    .location-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .location-image img{
        width: 60%;
        height: auto;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        border-radius: 0px 30px 0px 30px;
    }

    .location-place{
        color: #5f685d;
        font-weight: bold;
        font-size: 20px;
    }

    .location-concise{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .location-address{
        text-align: center;
    }
}














/* large screen */
@media (min-width: 992px){
    body{
        font-size: 15px;
        color: #808080;
    }

    #categories-container{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }

    #categories-header{
        font-size: 25px;
        color: #D5B9B2;
        font-family: "Lemon";
        width: 100%;
        text-align: center;
    }

    #categories-description{
        width: 100%;
        text-align: center;
    }

    #categories-display-container{
        display: flex;
        margin: 30px 100px;
        justify-content: center;
    }

    #categories-row{
        width: 100%;
        gap: 2%;
        flex-wrap: nowrap;
    }

    .categories-card{
        padding: 0px;
        width: 15%;
    }

    .card{
        border: 1px solid #D5B9B2;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }

    .card-body{
        text-align: center;
        color: #D5B9B2;
    }

    /* Newsletter */
    #newletter-container{
        max-width: 100%;
        display: flex;
        margin: 80px 100px 0px 100px;
        height: 400px;
    }

    #newletter-pic{
        background-image: url(images/newsletter-pic.png);
        background-size: cover;
        background-position: 50% 50%;
        height: 100%;
        border-radius: 50% 0% 0% 0%;
        flex-grow: 1;
    }

    #newsletter-content{
        padding: 0px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10%;
        background-color: #F8F7F2;
        border-radius: 0% 0% 50% 0%;
        flex-grow: 1;
    }

    #newsletter-content1{
        font-size: 25px;
        color: #D5B9B2;
        font-family: "Lemon";
        text-align: center;
    }

    #newsletter-content2{
        text-align: justify;
    }

    #newsletter-content3 button{
        color: white;
        background-color: #D5B9B2;
        border: 1px solid #D5B9B2;
        border-radius: 10px;
        flex-basis: 100px;
    }

    #newsletter-content3 button:hover{
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    #button-submit{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    #newsletter-content3 input{
        border: 2px solid #D5B9B2;
        border-radius: 25px;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        background-color: #F8F7F2;
    }

    #newsletter-content3 input:hover{
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }

    #newsletter-content3 input::placeholder{
        color: #D5B9B2;
    }

    /* footer */
    #footer-content{
        display: flex;
        flex-direction: column;
        background-color: #D5B9B2;
        margin-top: 100px;
        color: white;
    }

    #footer-image img{
        width: 150px;
        height: auto;
        flex-shrink: 0;
    }

    #footer-image{
        display: flex;
        justify-content: center;
        padding-top: 35px;
        margin-bottom: 27px;
    }

    #footer-container{
        padding: 0px 60px 35px 60px;
    }

    .footer-head{
        font-weight: bold;
        font-family: "Lemon";
        font-size: 16px;
    }

    .footer-details-list a{
        color: white;
        text-decoration: none;
    }

    .footer-details{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        margin-top: 2%;
        gap: 10px;
    }



    /* about us */
    #about-us-container{
        margin: 60px 100px 0px 100px;
    }

    .about-header {
        font-family: "Lemon";
        font-weight: bold;
        font-size: 25px;
        margin: 30px 0px 15px 0px;
        color: #D5B9B2;
    }
    
    #vision-header {
        margin-top: 100px;
    }

    #about-team {
        display: flex;
        align-items: center;
    }
    
    #about-team img {
        background-image: url(images/team.png);
        background-size: cover;
        background-position: 50% 100%;
        width: 100%;
    }
    
    #about-writeup p {
        padding-top: 10px;
        text-align: justify;
    }
    
    #about-writeup h1 {
        font-size: 25px;
        color: #5f685d;
    }
    
    .mission-container {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        box-sizing: border-box;
    }
    
    .mission-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        background-color: rgba(188,188,167, 0.5);
        height: 200px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    }
    
    .mission-box:hover {
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    }
    
    .vision {
        font-size: 20px;
        font-weight: bold;
        color: #5f685d;
    }
    
    .about-banner {
        font-family: "Lemon";
        font-size: 25px;
        height: 30px;
        display: flex;
        justify-content: center;
    }

    .about-banner a{
        text-decoration: none;
        color: white;
    }
    
    .catalogue-banner {
        background-image: url(images/team-banner.png);
        background-size: cover;
        width: 100%;
        height: 150px;
        align-items: center;
        margin-top: 100px;
    }
    
    .locations-banner {
        background-image: url(images/catalogue-banner.png);
        background-size: cover;
        width: 100%;
        height: 150px;
        align-items: center;
    }

    /* locations */
    #locations-container{
        margin: 60px 100px 0px 100px;
    }

    #locations-header{
        font-family: "Lemon";
        font-size: 25px;
        color: #D5B9B2;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    #locations-cta{
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    .location-card{
        margin-bottom: 80px;
    }

    .location-image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .location-image img{
        width: 50%;
        height: auto;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
        border-radius: 0px 30px 0px 30px;
    }

    .location-place{
        color: #5f685d;
        font-weight: bold;
        font-size: 20px;
    }

    .location-concise{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .location-address{
        text-align: center;
    }
}